        @import '../../../../assets/scss/variables.scss';
        @import '../../../../assets/scss/mixins.scss';
        @import '../../../../assets/scss/reset.scss';
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
        $font-all:'Nunito',
        sans-serif;
        body {
            font-family: $font-all!important;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
        }
        
        .link-text {
            color: green;
        }
        
        .nav-link {
            display: block;
            padding: .5rem 1rem;
            color: rgb(92, 92, 92);
        }
        
        .dropdown-item.active,
        .dropdown-item:active {
            background: transparent!important;
            color: #000!important;
        }
        
        .loader-waiting {
            position: absolute;
            z-index: 55555;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .45);
            transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) all 0.4s;
        }
        
        .admin-menu {
            width: 20rem;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            height: 100vh;
            // overflow-y: scroll;
            padding: 30px;
            transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
            &.active {
                width: 20rem!important;
                padding: 15px!important;
            }
            @media (max-width:991px) {
                width: 0%!important;
                padding: 0%!important;
                overflow: hidden!important;
            }
            ul {
                width: 100%;
                li {
                    &:first-child {
                        a {
                            &::after {
                                display: none;
                            }
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    a {
                        span {
                            font-size: .8rem!important;
                        }
                    }
                    .drop-menu {
                        display: block;
                        position: relative;
                        font-size: .8rem!important;
                        cursor: pointer;
                        &.active {
                            &::after {
                                display: block;
                                content: '\f107';
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 1rem;
                                text-align: center;
                                float: right;
                                border: 0;
                                font-weight: 900;
                                // content: '\f105';
                                font-family: 'Font Awesome 5 Free';
                            }
                        }
                        &::after {
                            display: block;
                            // content: '\f105';
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1rem;
                            text-align: center;
                            float: right;
                            border: 0;
                            font-weight: 900;
                            content: '\f105';
                            font-family: 'Font Awesome 5 Free';
                        }
                    }
                }
            }
        }
        
        .admin-view {
            background-color: #f7f8fa;
            height: 100vh;
            overflow-y: scroll;
            .bg-search {
                background-color: #efeef3;
            }
            .menu {
                position: relative;
                width: 30px;
                height: 30px;
                cursor: pointer;
                display: none;
                left: 10px;
                @media (max-width: 991px) {
                    display: block;
                }
                &.active {
                    .menu-bar {
                        background-color: rgba(77, 77, 77, 0);
                        transform: translateY(-50%);
                        &::after {
                            transform: rotate(45deg);
                            top: 0px;
                        }
                        &::before {
                            transform: rotate(135deg);
                            top: 0px;
                        }
                    }
                }
                .menu-bar {
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 4px;
                    background-color: rgba(77, 77, 77, 1);
                    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    &::after {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 8px;
                        content: '';
                        width: 30px;
                        height: 4px;
                        background-color: rgba(77, 77, 77, 1);
                        transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                    }
                    &::before {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: -8px;
                        content: '';
                        width: 30px;
                        height: 4px;
                        background-color: rgba(77, 77, 77, 1);
                        transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                    }
                }
            }
        }
        
        .nav {
            // &:hover {
            //     .nav-drop-menu {
            //         display: block;
            //     }
            // }
            .nav-drop-menu {
                position: absolute;
                display: none;
                right: 0;
                top: 35px;
                min-width: 200px;
                height: auto;
                background: #fff;
                box-shadow: 0px 5px 30px -10px rgb(129, 129, 129);
                z-index: 5555;
                ul {
                    padding: 20px 0px;
                    margin-bottom: 0!important;
                    li {
                        display: block;
                        a {
                            display: block;
                            padding: 5px 20px;
                        }
                    }
                }
            }
        }
        
        .ag-center-cols-container {
            width: 100%!important;
            height: auto!important;
        }
        
        .bg-td-custom {
            padding: 5px;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            word-wrap: break-word;
            &.null {
                border-top: solid 5px #fff!important;
                top: -3px;
            }
            &.text-empty {
                color: transparent!important;
            }
        }
        
        .MuiTableCell-body {
            position: relative;
            padding: 15px;
        }
        
        thead.MuiTableHead-root {
            th {
                background: rgb(221, 221, 221)!important;
                color: #000;
            }
        }
        
        .table-bordered td,
        .table-bordered th {
            border: 1px solid #383838!important;
        }
        
        .MuiToolbar-regular {
            // background: rgb(221, 221, 221)!important;
            background: $wc-1!important;
        }
        
        .MuiTableFooter-root {
            background: rgb(221, 221, 221)!important;
        }
        
        .MuiTablePagination-toolbar {
            background: rgb(221, 221, 221)!important;
        }
        
        .MuiIconButton-root {
            color: rgba(255, 255, 255, 1)!important;
            font-size: 1.5rem;
            text-align: center;
        }
        
        .MuiTypography-h6 {
            color: #fff!important;
        }